<!-- Libs JS -->
<script src="{{url_for('static', filename='admin/dist/libs/apexcharts/dist/apexcharts.min.js')}}" defer></script>
<script src="{{url_for('static', filename='admin/dist/libs/jsvectormap/dist/js/jsvectormap.min.js')}}" defer></script>
<script src="{{url_for('static', filename='admin/dist/libs/jsvectormap/dist/maps/world.js')}}" defer></script>
<script src="{{url_for('static', filename='admin/dist/libs/jsvectormap/dist/maps/world-merc.js')}}" defer></script>
<!-- Tabler Core -->
<script src="{{url_for('static', filename='admin/dist/js/tabler.min.js')}}" defer></script>
<script src="{{url_for('static', filename='admin/dist/js/demo.min.js')}}" defer></script>